<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../css/style.css">
    <style>
        form{
            width:270px;
        }
        input{
            width: 70%;
            background: #eee;
        }
        input:focus{
            background: #fff;
        }
        form{
            padding: 0 12px 12px;
        }
        label{
            display: block;
            padding-bottom:12px;
        }
        .label-text{
            width: 30%;
            float: left;
        }
    </style>
</head>
<body>
<div id="app">
    <div id="wrap">
        <div id="header">
            <div style="float: right;padding-top: 24px">2009/11/20</div>
            <h1>旅游信息管理系统</h1>
        </div>
        <div id="header-bar"></div>
        <div id="content" style="height: 360px">
            <img src="../img/timg.jpg" style="float: right;height: 320px">
            <h2>修改省份</h2>
            <form action="provincelist.html" method="post">
                <label>
                    <div class="label-text">省&emsp;份：</div>
                    <input type="text" v-model="province.name">
                </label>
                <label>
                    <div class="label-text">标&emsp;签：</div>
                    <input type="text" v-model="province.tags">
                </label>
                <button type="button" @click="updateProvince"style="background-color: #467aa7;font-size: 20px; ">修 改</button>&emsp;
                <a href="provincelist.html">返回</a>
            </form>
        </div>
        <div id="footer" style="font-size: 15px;text-decoration-color: #666666">
            Power By springBoot @马志成
        </div>
    </div>
</div>
</body>
</html>


<script src="../js/vue.js"></script>
<script src="../js/axios.min.js"></script>
<script>
    const app = new Vue({
        el:"#app",
        data:{
            id:"",
            province:{}
        },
        methods:{

            findOnePrivince(id){
                _this = this;
                axios.get("http://localhost:8989/province/findOne?id="+id).then((res)=>{
                   console.log( res.data);
                    _this.province = res.data;
                });
            },

            //修改省份信息
            updateProvince(){
                axios.post("http://localhost:8989/province/update",this.province).then((res)=>{
                    if(res.data.states){
                        alert(res.data.mag+"，点击确定回到主页");
                        location.href="./provincelist.html";
                    }else{
                        alert(res.data.mag);
                    }
                });
            }

        },
        created(){
            //获取id
            this.id=location.href.substring(location.href.indexOf("=")+1);
            this.findOnePrivince(this.id);

        }
    })

</script>