<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mypj.Dao.PlaceDao">

    <!--根据省份id查询所有的景点信息并排序-->
    <select id="findByProvinceIdPage" resultType="Place">
        select
         id,name,picpath,hottime,hotticket,dimticket,placedis,proviceid
        from t_place
        where proviceid=#{provinceId}
        order by hotticket
        limit #{start},#{rows}
    </select>

    <!--根据省份id查询当前省份所有景点个数-->
    <select id="findByProvinceIdCounts" parameterType="String" resultType="Integer">
        select count(id) from t_place where proviceid=#{provinceId}
    </select>

    <!--保存景点-->
    <insert id="save" parameterType="Place" useGeneratedKeys="true" keyProperty="id">
        insert into t_place values (#{id},#{name},#{picpath},#{hottime},#{hotticket},#{dimticket},#{placedis},#{proviceid})
    </insert>


    <!--根据id查询景点信息-->
    <select id="findOne" parameterType="String" resultType="Place">
        select
         id,name,picpath,hottime,hotticket,dimticket,placedis,proviceid
        from t_place
        where id=#{id}
    </select>

    <!--删除景点信息的方法-->
    <delete id="delete" parameterType="String">
        delete from t_place where id=#{id}
    </delete>

    <!--修改景点信息-->
    <update id="update" parameterType="Place">
        update t_place set
            name=#{name},
            picpath=#{picpath},
            hottime=#{hottime},
            hotticket=#{hotticket},
            dimticket=#{dimticket},
            placedis=#{placedis},
            proviceid=#{proviceid}
        where id=#{id}
    </update>

</mapper>